#features {
  width: 100%;
  padding: 9rem;
  display: flex;
  flex-direction: column;

  .feature-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 0.5rem;
    align-items: center;
    justify-items: center;

    .feature {
      box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
      text-align: center;
      padding: 4rem;
      margin: 2rem;
      width: 25rem;
      transition: all 0.25s ease-in-out;
      border-radius: 2rem;

      &-image {
        width: 10rem;
        height: 10rem;
        margin-bottom: 2rem;
      }

      &-description {
        font-size: 1.6rem;
      }

      &:hover {
        box-shadow: 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.2rem);
      }
    }
  }
}
