#header {
  background-color: $color-grey;
  height: 13vh;
  font-size: 2rem;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include respond(tab-port) {
    font-size: 1.2rem;
  }
  .logo-container {
    display: flex;
    align-items: center;

    #header-img {
      width: 100%;
      max-width: 100%;
      height: auto;

      @include respond(tab-port) {
        width: 80%;
      }
    }

    @include respond(tab-port) {
      justify-content: space-between;
      width: 100%;
    }
  }
}

.nav-bar {
  &__list {
    display: flex;
    justify-content: space-around;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__item {
    list-style: none;
    padding: 2rem;

    &--link {
      text-decoration: none;
      color: $color-grey-2;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.header-scrolled {
  background-color: #eae7e1;
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.25);
}
