#hero {
  padding-top: 15rem;
  display: flex;
  align-items: center;

  .hero-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 4rem;
  }

  .content-container {
    padding: 4rem 6rem;
    width: 100%;

    .intro-text {
      font-family: $font-stack-2;
      text-align: left;

      @include respond(phone) {
        text-align: center;
      }
    }

    @include respond(phone) {
      .heading-primary {
        font-size: 4rem;
      }
    }
  }

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include respond(tab-port) {
   
  }
}
